/*
Source - https://stackoverflow.com/a
Posted by Michael Benjamin, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-12, License - CC BY-SA 3.0
*/

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  
}
.cell {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
}
.cell:nth-child(1n) {
  background-color: #F00;
}