.container 
{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 2px;
}

.container item1
{
  grid-column-start:1;
  grid-row-start:1;
  background-color: grey;
  border: 2px;
  border-color: black;
  font-size: 30px;
  text-align: center;
}

.container itemN
{
  grid-column-start:2;
  grid-row-start:1;
  background-color: grey;
  border: 2px;
  border-color: black;
  font-size: 30px;
  text-align: center;
}

.container item3
{
  grid-column-start:3;
  grid-row-start:1;
  background-color: grey;
  border: 2px;
  border-color: black;
  font-size: 30px;
  text-align: center;
}

.container itemO
{
  grid-column-start:1;
  grid-row-start:2;
  background-color: grey;
  border: 2px;
  border-color: black;
  font-size: 30px;
  text-align: center;
}

.container itemx
{
  grid-column-start:2;
  grid-row-start:2;
  background-color: grey;
  border: 2px;
  border-color: black;
  font-size: 30px;
  text-align: center;
}

.container itemE
{
  grid-column-start:3;
  grid-row-start:2;
  background-color: grey;
  border: 2px;
  border-color: black;
  font-size: 30px;
  text-align: center;
}

.container item7
{
  grid-column-start:1;
  grid-row-start:3;
  background-color: grey;
  border: 2px;
  border-color: black;
  font-size: 30px;
  text-align: center;
}

.container itemS
{
  grid-column-start:2;
  grid-row-start:3;
  background-color: grey;
  border: 2px;
  border-color: black;
  font-size: 30px;
  text-align: center;
}

.container item9
{
  grid-column-start:3;
  grid-row-start:3;
  background-color: grey;
  border: 2px;
  border-color: black;
  font-size: 30px;
  text-align: center;
}